.container{
    width: 100vw;
    height: 100vh;
}

h2{
    text-align: center;
    color:blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}


.img{
    width: 150vh;
    height: 100vh;
    animation-name: image;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    position:relative;
    left: 29%;
    top: 5%;
}

@keyframes image{
    0% {background-image: url(https://images.pexels.com/photos/15049798/pexels-photo-15049798.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);}
    25%{background-image: url(https://images.pexels.com/photos/13060249/pexels-photo-13060249.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);}
    50%{background-image: url(https://images.pexels.com/photos/14688950/pexels-photo-14688950.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);}
    100%{background-image: url(https://images.pexels.com/photos/15215418/pexels-photo-15215418.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);}
}